<div *ngFor="let item of conference?.registration" class="registrationItem">
	<div [ngSwitch]="item.type">
		<div *ngSwitchCase="'Caption'">
			<md-card>
				<md-card-title *ngIf="item.title">{{item.title}}</md-card-title>
				<md-card-content *ngIf="item.text">{{item .text}}
				</md-card-content>
			</md-card>
		</div>

		<div *ngSwitchCase="'Link'">
			<md-card>
				<p>
					<a target="_blank" [href]="item.href">{{item.label || item.href}}</a>
				</p>
			</md-card>
		</div>

		<div *ngSwitchCase="'TextInput'">
			<md-card>
				<md-input-container>
					<input mdInput floatingPlaceholder
					       [placeholder]="item.caption"
					       [required]="!item.optional"
					       [(ngModel)]="inputModel[item.key]"
					       [ngModelOptions]="{standalone: true}">
					<md-hint>{{item.hint}}</md-hint>
				</md-input-container>
			</md-card>
		</div>

		<div *ngSwitchCase="'SingleChoice'">
			<md-card>
				<p>{{item.caption}}</p>
				<md-radio-group [(ngModel)]="inputModel[item.key]"
				                [ngModelOptions]="{standalone: true}">
					<md-list>
						<md-list-item *ngFor="let choice of item.choices">
							<md-radio-button [value]="choice.key" [name]="item.key">
								{{choice.caption}}
							</md-radio-button>
						</md-list-item>
					</md-list>
				</md-radio-group>
			</md-card>
		</div>

		<div *ngSwitchCase="'MultipleChoice'">
			<md-card>
				<p>{{item.caption}}</p>
				<md-list>
					<md-list-item *ngFor="let choice of item.choices">
						<md-checkbox [ngModelOptions]="{standalone: true}"
						             [(ngModel)]="inputModel[choice.key]">
							{{choice.caption}}
						</md-checkbox>
					</md-list-item>
				</md-list>
			</md-card>
		</div>
	</div>
</div>
