<form action="submit.php" (submit)="sidenav.opened = true"
      (change)="sidenav.opened = false">
  <md-toolbar color="primary">
    <span><img [src]="conference?.avatar" alt="..."
               style="width: 40px;"> </span>
    <span>{{conference?.name}}</span>
    <span class="fill-space"></span>
    <span>{{labels.headline}}</span>
  </md-toolbar>

  <md-sidenav-layout>
    <md-sidenav #sidenav align="end"
                (open)="abortBtn.elementRef.nativeElement.focus();">
      <div>
        <p>{{labels.submitQuestion}}</p>
        <button #submitBtn md-raised-button type="button" color="primary"
                (click)="submit()">
          {{labels.submit}}
        </button>
        <button #abortBtn md-raised-button type="button" color="warn"
                (click)="sidenav.opened = false">
          {{labels.abort}}
        </button>
      </div>
    </md-sidenav>

    <div class="items">
      <div *ngFor="let item of conference?.registration"
           class="registrationItem">
        <div [ngSwitch]="item.type">
          <div *ngSwitchWhen="'Caption'">
            <md-card>
              <md-card-title *ngIf="item.title">{{item.title}}</md-card-title>
              <md-card-content *ngIf="item.text">{{item .text}}
              </md-card-content>
            </md-card>
          </div>

          <div *ngSwitchWhen="'Link'">
            <md-card>
              <p><a target="_blank" [href]="item.href">{{item.label || item
                .href}}</a></p>
            </md-card>
          </div>

          <div *ngSwitchWhen="'TextInput'">
            <md-card>
              <md-input floatingPlaceholder [placeholder]="item.caption"
                        [required]="!item.optional"
                        [(ngModel)]="inputModel[item.key]">
                <md-hint>{{item.hint}}</md-hint>
              </md-input>
            </md-card>
          </div>

          <div *ngSwitchWhen="'SingleChoice'">
            <md-card>
              <p>{{item.caption}}</p>
              <md-radio-group [(ngModel)]="inputModel[item.key]">
                <md-list>
                  <md-list-item *ngFor="let choice of item.choices">
                    <md-radio-button [value]="choice">
                      {{choice}}
                    </md-radio-button>
                  </md-list-item>
                </md-list>
              </md-radio-group>
            </md-card>
          </div>

          <div *ngSwitchWhen="'MultipleChoice'">
            <md-card>
              <p>{{item.caption}}</p>
              <md-list>
                <md-list-item *ngFor="let choice of item.choices">
                  <md-checkbox [(ngModel)]="inputModel[choice.key]">
                    {{choice.caption}}
                  </md-checkbox>
                </md-list-item>
              </md-list>
            </md-card>
          </div>
        </div>
      </div>
    </div>
  </md-sidenav-layout>


  <md-toolbar>
    <span>
      <button color="primary" md-raised-button type="submit">
        {{labels.submit}}
      </button>
    </span>
    <span class="fill-space"></span>
    <span>
      <button *ngIf="!sidenav.opened && conference?.showBackButton"
              color="warn" md-raised-button type="button"
              (click)="navigateBack()">
        {{labels.back}}
      </button>
    </span>
  </md-toolbar>
</form>
