<form action="submit.php" (submit)="sidenav.open()" #form>
  <md-toolbar color="primary">
    <span><img [src]="conference?.avatar" alt="..."
               style="width: 40px;"> </span>
    <span>{{conference?.name}}</span>
    <span class="fill-space"></span>
    <span>Anmeldung</span>
  </md-toolbar>

  <md-sidenav-layout class="centralArea">
    <md-sidenav #sidenav align="end">
      <div>
        <p>Soll die Anmeldung abgeschickt werden?</p>
        <button md-raised-button type="button" color="primary"
                (click)="submit()">
          Abschicken!
        </button>
      </div>
    </md-sidenav>

    <div class="items">
      <div *ngFor="let item of conference?.registration"
           class="registrationItem">
        <div [ngSwitch]="item.type">
          <div *ngSwitchWhen="'Caption'">
            <md-card>
              <md-card-title *ngIf="item.title">{{item.title}}</md-card-title>
              <md-card-content *ngIf="item.text">{{item .text}}
              </md-card-content>
            </md-card>
          </div>

          <div *ngSwitchWhen="'TextInput'">
            <md-card>
              <md-input floatingPlaceholder [placeholder]="item.caption"
                        [required]="!item.optional"
                        [(ngModel)]="inputModel[item.key]">
                <md-hint>{{item.hint}}</md-hint>
              </md-input>
            </md-card>
          </div>

          <div *ngSwitchWhen="'SingleChoice'">
            <md-card>
              <p>{{item.caption}}</p>
              <md-radio-group [(ngModel)]="inputModel[item.key]">
                <md-list>
                  <md-list-item *ngFor="let choice of item.choices">
                    <md-radio-button [value]="choice">
                      {{choice}}
                    </md-radio-button>
                  </md-list-item>
                </md-list>
              </md-radio-group>
            </md-card>
          </div>

          <div *ngSwitchWhen="'MultipleChoice'">
            <md-card>
              <p>{{item.caption}}</p>
              <md-list>
                <md-list-item *ngFor="let choice of item.choices">
                  <md-checkbox [(ngModel)]="inputModel[choice.key]">
                    {{choice.caption}}
                  </md-checkbox>
                </md-list-item>
              </md-list>
            </md-card>
          </div>
        </div>
      </div>
    </div>
  </md-sidenav-layout>


  <md-toolbar>
    <span>
      <button color="primary" md-raised-button type="submit">
        Abschicken
      </button>
    </span>
    <span class="fill-space"></span>
    <span>
      <button *ngIf="!sidenav.opened" color="warn" md-raised-button
              type="button"
              (click)="navigateBack()">
        Zurück
      </button>
      <button *ngIf="sidenav.opened" color="warn" md-raised-button
              type="button"
              (click)="sidenav.opened = false">
        Abbrechen
      </button>
    </span>
  </md-toolbar>
</form>
