<md-toolbar color="primary">
  <span><img [src]="conference?.avatar" alt="..." style="width: 40px;"> </span>
  <span>{{conference?.name}}</span>
  <span class="fill-space"></span>
  <span>Anmeldung</span>
</md-toolbar>


<div *ngFor="let item of conference?.registration" class="registrationItem">
  <div [ngSwitch]="item.type">
    <div *ngSwitchWhen="'caption'">
      <md-card>
        <md-card-title>{{item.title}}</md-card-title>
        <md-card-content>{{item.caption}}</md-card-content>
      </md-card>
    </div>

    <div *ngSwitchWhen="'textInput'">
      <md-card>
        <md-input floatingPlaceholder [placeholder]="item.caption">
          <md-hint>{{item.hint}}</md-hint>
        </md-input>
      </md-card>
    </div>

    <div *ngSwitchWhen="'singleChoice'">
      <md-card>
        <p>{{item.caption}}</p>
        <md-radio-group name="{{item.key}}">
          <md-list>
            <md-list-item *ngFor="let choice of item.choices">
              <md-radio-button name="{{item.key}}">
                {{choice}}
              </md-radio-button>
            </md-list-item>
          </md-list>
        </md-radio-group>
      </md-card>
    </div>

    <div *ngSwitchWhen="'multipleChoice'">
      <md-card>
        <p>{{item.caption}}</p>
        <md-list>
          <md-list-item *ngFor="let choice of item.choices">
            <md-checkbox>{{choice}}</md-checkbox>
          </md-list-item>
        </md-list>
      </md-card>
    </div>
  </div>
</div>
