<mat-toolbar color="primary">
    <span *ngIf="!previewMode" class="toolbar-heading">
	    Conference data
    </span>

	<img *ngIf="previewMode" [src]="conference?.avatar">

	<span *ngIf="previewMode">
		{{conference?.name}}
	</span>

	<span class="fill-space"></span>

	<div class="toolbar-actions">
		<mat-slide-toggle (change)="previewMode = $event.checked">
			Preview
		</mat-slide-toggle>
	</div>
</mat-toolbar>

<mat-card *ngIf="!previewMode">
	<mat-card-content>
		<mat-form-field>
			<input matInput placeholder="Name" [(ngModel)]="conference.name">
		</mat-form-field>

		<mat-form-field>
			<input matInput placeholder="Key" [(ngModel)]="conference.key">
		</mat-form-field>

		<mat-form-field>
			<input matInput placeholder="Place" [(ngModel)]="conference.place">
		</mat-form-field>

		<mat-form-field>
			<input matInput placeholder="Date" [(ngModel)]="conference.date">
		</mat-form-field>

		<mat-form-field>
			<input matInput placeholder="Picture URL" [(ngModel)]="conference.avatar">
		</mat-form-field>
	</mat-card-content>
</mat-card>

<mat-toolbar *ngIf="!previewMode" color="primary">
	<span class="toolbar-heading">Registration items/questions</span>

	<span class="fill-space"></span>

	<div class="toolbar-actions">
		<button mat-button (click)="questionnaire.addItem('Caption')">Caption</button>
		<button mat-button (click)="questionnaire.addItem('Link')">Link</button>
		<button mat-button (click)="questionnaire.addItem('TextInput')">Text input</button>
		<button mat-button (click)="questionnaire.addItem('SingleChoice')">Single choice</button>
		<button mat-button (click)="questionnaire.addItem('MultipleChoice')">Multiple choice</button>
	</div>
</mat-toolbar>

<confreg-questionnaire #questionnaire
                       [conferenceKey]="conference.key"
                       [editable]="!previewMode"
                       [items]="conference.registration"
                       (onEdit)="edited($event)">
</confreg-questionnaire>
