<mat-toolbar color="primary" class="conference-list-toolbar">
	<span>Conference Registration</span>
	<span>Junge Sprachwissenschaft e. V.</span>
</mat-toolbar>

<mat-toolbar class="small-font">
	<span class="fill-space"></span>

	<button mat-button
	        (click)="toggleSignInForm()"
	        [disabled]="loginState === 'Trying'"
	        *ngIf="loginState !== 'Successful'">
		<span *ngIf="showSignInForm">Cancel</span>
		<span *ngIf="!showSignInForm">Admin</span>
	</button>

	<span *ngIf="loginState==='Successful'" class="iconAndText">
		<i class="material-icons">
			thumb_up
		</i>

		Login successful!
	</span>

	<mat-toolbar-row *ngIf="showSignInForm && loginState !== 'Successful'">
		<span class="fill-space"></span>

		<mat-spinner *ngIf="loginState === 'Trying'"></mat-spinner>

		<form (submit)="signIn()" *ngIf="loginState !== 'Successful'">
			<mat-form-field>
				<input matInput type="password"
				       placeholder="Password"
				       [(ngModel)]="password"
				       name="password">
			</mat-form-field>

			<span *ngIf="loginState==='Unsuccessful'">
				<i class="material-icons">thumb_down</i>
			</span>

			<button mat-button color="primary" type="submit">
				Sign in
			</button>
		</form>
	</mat-toolbar-row>
</mat-toolbar>

<mat-nav-list>
	<mat-list-item *ngFor="let conf of conferences" [routerLink]="['/', conf.key]">
		<img mat-list-avatar [src]="conf.avatar" alt="Conference logo">

		<a mat-line>{{conf.name}}</a>

		<p mat-line>
			<span> {{conf.date}} </span>
			<span class="demo-2"> -- {{conf.place}} </span>
		</p>

		<button mat-icon-button
		        *ngIf="loginState === 'Successful'"
		        [routerLink]="['/editor', conf.key]">
			<span class="material-icons">edit</span>
		</button>
	</mat-list-item>
</mat-nav-list>
